#featured {
  & img[src*="Image 01"] {
    height: 26rem;
  }

  & img {
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
  }

  .card {
    position: relative;
    overflow: hidden;

    border-radius: 0.25rem;

    &::before {
      content: "";
      position: absolute;
      inset: 0;

      top: 50%;
      background: linear-gradient(180deg, transparent 0%, #020617 100%);
    }

    & figcaption {
      position: absolute;
      bottom: 0;
      padding: 1rem;

      & .robotic-title {
        font: 800 1.5rem/1.35 var(--ff-sans);
      }

      & h2 {
        margin-top: 0.5rem;
        font: 800 0.875rem/1.4 var(--ff-sans);
      }
    }
  }
}

section header {
  border-top: 1px solid var(--stroke-color);
  padding-block: 0.75rem 1.5rem;
  font: var(--span);

  a {
    justify-self: end;
    align-items: center;
    gap: 0.25rem;

    span {
      background-image: url(/assets/icons/ArrowRight.svg);
      width: 1rem;
      height: 1rem;
    }

    &:hover span {
      background-image: url(/assets/icons/ArrowRight-hover.svg);
    }
  }
}

#weekly {
  header h3 {
    font: var(--span);
  }

  figure {
    position: relative;

    .content-tag {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
    }

    p {
      margin-top: 0.5rem;
      font: var(--text);
    }
  }
}

#ai {
  align-items: center;
  img {
    width: 5rem;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  h3 {
    margin-block: 0.5rem 0.25rem;
  }
}

#more {
  margin-top: 2rem;
  article div:last-child {
    & h3 {
      margin-top: 0.5rem;
    }
  }

  article h3 {
    font: 700 0.875rem/1.4 var(--ff-sans);
  }
}

aside {
  article img {
    width: 4.5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

@media (width >= 80rem) {
  #featured {
    grid-area: featured;
    & img[src*="Image 01"] {
      height: 100%;
      object-fit: cover;
      border-radius: 0.25rem;
    }

    & img {
      height: 100%;
      object-fit: cover;
      border-radius: 0.25rem;
    }

    .card {
      & figcaption {
        position: absolute;
        bottom: 0;
        padding: 1.5rem;

        & .robotic-title {
          font: 800 1.5rem/1.35 var(--ff-sans);
        }

        & h2 {
          display: inline-block;
          margin-top: 0.5rem;
          font: 800 0.875rem/1.4 var(--ff-sans);
        }

        & .text-mobile {
          display: none;
        }
      }
    }

    & div:nth-child(2) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  #weekly {
    grid-area: weekly;
    & > div {
      gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
    }

    .text-mobile {
      display: none;
    }

    p {
      display: inherit;
      margin-top: 0.5rem;
    }
  }

  #ai {
    grid-area: ai;
    img {
      width: 11rem;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    & article {
      div:first-child {
        display: none;
      }
    }
  }

  aside {
    grid-area: aside;

    article img {
      width: 4.5rem;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
}
