.grid {
  display: grid;
}

.flow-columns {
  grid-auto-flow: column;
}

.flex {
  display: flex;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-32 {
  gap: 2rem;
}

.items-center {
  align-items: center;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: initial;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.py-2xl {
  padding-block: var(--py-2xl);
}

.py-xl {
  padding-block: var(--py-xl);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-sm {
  padding-block: var(--py-sm);
}

.title-lg {
  font: var(--title-lg);
}

.tile-md {
  font: var(--title-md);
}

.title-sm {
  font: var(--title-sm);
}

.txt-xl {
  font: var(--text);
}

.txt-sm {
  font: var(--text-p);
}

m\.top-8 {
  margin-top: 0.5rem;
}

@media (width >=80rem) {
  .desktop-only {
    display: initial;
  }

  .mobile-only {
    display: none;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
